
01_ETL/01_opendata.swiss/opendata_swiss_datasets.csv
01_ETL/01_opendata.swiss/opendata_swiss_datasets.json
/.vscode
01_ETL/01_opendata.swiss/merged_metadata.csv
01_ETL/01_opendata.swiss/resources_metadata.csv
01_ETL/02_geocat.ch/geocat_datasets.csv
01_ETL/03_opentransportdata.swiss/dataset_metadata.csv
