# ETL
01_ETL/__pycache__
01_ETL/01_opendata.swiss/
01_ETL/02_geocat.ch/
01_ETL/11_group/
01_ETL/ETL_logfile.log
01_ETL/portal_statistics.csv
01_ETL/21_load/db_config.json
01_ETL/21_load/db_config_lokal.json

#02_Categorization
02_Categorization/00_bin
02_Categorization/00_Testing/01_Fasttext/data
02_Categorization/00_Testing/02_Gensim_Fasttext/data
02_Categorization/00_Testing/03_BERT/data
02_Categorization/00_Testing/04_SBERT/data
02_Categorization/00_Testing/05_BERT_Fasttext_comparison/data
02_Categorization/01_Prototype_LM/data
02_Categorization/02_Prototype_LLM/data
02_Categorization/03_Labelling_Mobilitydata_LLM/data
02_Categorization/04_Clustering/data

#03_NER
03_NER/02_Model
03_NER/06_Data_Visualisation/__pycache__
03_NER/06_Data_Visualisation/data

#07_Final_Workflow
07_Final_Workflow/__pycache__
07_Final_Workflow/data
07_Final_Workflow/functions/__pycache__